#bodyDiv{
    margin-left: 10%;
    margin-right: 10%;
    border: solid;
    margin-top: 8%;
    padding: 1%;
    color:white;
    border-radius: 50px;
    border-color: #66CC66;
    background: #3399CC;
}

th{
    font-family: STZhongsong;
    font-size: 1.4em;
}

caption{
    color: white;
}

body{
    background: #ffffff;
}