div{
    text-align: center;
}

h1{
    font-family: STHupo;
    color: white;
}

select{
    width: auto;
    margin-left: 12.2%;
    margin-right: 10%;
    font-family:YouYuan ;
    font-size: 50px;
}

button{
    border-radius: 25px;
}

body{
    background: #3399CC;
}

caption{/*表格列表*/
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 2em;
}

label{
    color:white;
    font-size: larger;
}

p{
    color:white;
}