/*所有内容所在区域*/
#pageBody{

    border: solid;
    border-color: white;
    border-radius: 100px;
    margin-left:30%;
    margin-right: 30%;

    margin-top: 7%;
    padding-bottom: 2%;

}

span{
    margin-right:2%;
    margin-left:2%;
    width: 100%;
}

/*页面上的提示文字*/
.tips{
    color: white;
}

a button{
    background: #99CC33;
}

body{
    /*设计背景渐变*/
    /*线性渐变*/
    /*background: linear-gradient(60deg, #3399CC,white);*/
    /*径向渐变*/
    /*background:radial-gradient(#3399CC,white);*/
}