#TestCondition{ /*考试条件所在区域*/
  margin-left: 1%; /*border-style: dashed;*/
 width: 60%;
 padding-left: 29%;
 padding-right: 5%;
 margin-top: 7%;
 font-family: STZhongsong;
}

#StartTest{
 margin-left: 12%;
}
