body{
    height: 10%;
    border-bottom: solid;
    border-color: white;
}

#back{
    color: white;
    font-family: YouYuan;
    margin-right: 90%;
}

#backCenter{
    color: white;
    font-family: YouYuan;
}
