#tips{    /*页面名字和按键 */

}

#select{/* 查询按键*/
    margin-left: 5%;
}

.ScoreMessage{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

thead{
    text-align: center;
}

#tableName{
    font-size: 3em;
}

.tableDiv{/*分数表所在范围*/
    background: white;
    margin-top: 10%;
    border-radius: 50px;
}

